@page
@model Chmelar_Bielik_Honzatko_Hubicka.GameonModel
@{
    ViewData["Title"] = "Gameon";
}

<h1>Gameon</h1>

<h3>Game has started!</h3>

@{ string key = "messagebox"; }
<partial name="_GameMessages" model="key" />

<partial name="_GameDesk" model="@Model.GameDesk" />

<a class="btn btn-success" href="./Gameon">Reload Page</a>
