@page
@model Chmelar_Bielik_Honzatko_Hubicka.GameonModel
@{
    ViewData["Title"] = "Gameon";
}

<h1>Gameon</h1>

<h3>Hra začala!</h3>

@{ string key = "messagebox"; }
<partial name="_GameMessages" model="key" />

<h4>Player - Identifycator of User</h4>
<div class="Desk">
    <table class="table">
        <tbody>
            @for (var i = 0; i < 10; i++)
            {
                <tr>
                    @for (var k = 0; k < 10; k++)
                    {
                        <td class="game-piece">@i  @k</td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <table class="table">
        <tbody>
            @for (var i = 0; i < 10; i++)
            {
                <tr>
                    @for (var k = 0; k < 10; k++)
                    {
                        <td class="game-piece">@i  @k</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
