@page
@model Chmelar_Bielik_Honzatko_Hubicka.GameonModel
@{
    ViewData["Title"] = "Gameon";
}

<h1>Gameon</h1>

<h3>Hra začala!</h3>

@{ string key = "messagebox"; }
<partial name="_GameMessages" model="key" />

<h4>Player - Identifycator of User</h4>

<partial name="_GameDesk" model="@Model.GameDesk" />
