@page
@using Microsoft.AspNetCore.Identity
@using Chmelar_Bielik_Honzatko_Hubicka.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<body>
    <div class="container">
        <h1 class="display-4">Vítejte ve hře lodě!</h1>
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="btn btn-info" href="/Preparation">vytvořit novou hru</a>
            <a class="btn btn-info" href="/ActiveGames">připojit se ke hře</a>
        }
        else
        {
            <a class="btn btn-info" href="../Identity/Account/Login">Přihlášení</a>
            <a class="btn btn-info" href="../Identity/Account/Register">Registrovat</a>
        }
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BattleShips v0.6 - <a href="/battleships/Privacy">Privacy</a>
        </div>
    </footer>
</body>

