@page
@model Chmelar_Bielik_Honzatko_Hubicka.PreparationModel
@{
    ViewData["Title"] = "Preparation";
}

<h1>Preparation</h1>

<a class ="btn btn-primary" asp-route-generate="@true">Generate battlefield</a>
<a class="btn btn-primary" method ="post">To active game</a>
