@model List<NavyBattlePiece>
@using Chmelar_Bielik_Honzatko_Hubicka.Models
@using Chmelar_Bielik_Honzatko_Hubicka.Services

@{
    List<NavyBattlePiece> pieces = Model;
}

<div class="Desk">
    <table class="table">
        <tbody>
            @foreach (var posY in pieces.OrderBy(p => p.PosY))
            {
                <tr>
                    @foreach (var posX in pieces.OrderBy(p => p.PosX)
                    {
                        <td class="game-piece">
                            <a class="btn btn-outline-light">[@posX, @posY]</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>