@model GameDeskModel
@using Chmelar_Bielik_Honzatko_Hubicka.Models

@{
    List<NavyBattlePiece> pieces = Model.Pieces;
    string color = Model.Color;
}

<div class="Desk">
    <table class="table">
        <tbody>
            @foreach (var row in pieces.GroupBy(p => p.PosY))
            {
                <tr>
                    @foreach (var piece in row)
                    {
                        <td class="game-piece-@color">
                            <a class="btn btn-outline-light" asp-page-handler="Hit" asp-route-pieceid="@piece.Id">[@piece.PosX, @piece.PosY]</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>