@model List<NavyBattlePiece>
@using Chmelar_Bielik_Honzatko_Hubicka.Models

@{
    List<NavyBattlePiece> pieces = Model;
}

<div class="Desk">
    <table class="table">
        <tbody>
            @foreach (var row in pieces.OrderBy(p => new { p.PosY, p.PosX }).GroupBy(p => p.PosY))
            {
                <tr>
                    @foreach (var piece in row)
                    {
                        <td class="game-piece">
                            <a class="btn btn-outline-light">[@piece.PosX, @piece.PosY]</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>