@page
@model Ship_Placing_Hubicka.Pages.preparationModel
@{
}
    <form method="post" asp-page-handler="Click">
        <table>
            @for (int i = 0; i <= 99; i=i+10)          
            {

                <tr>
                    @for (int x = i; x <= i+9; x++)
                    {
                        <th> 
                            
                            <button style="width: 30px; height: 30px; margin: 1px" name="position" value="@x"></button>
                        </th>
                    }
                </tr>

            }
        </table>
    </form>
    <form method="post" asp-page-handler="Finished">
        <button>Finished</button>
    </form>
